@font-face {
  font-family: "iconfont"; /* Project id 2529465 */
  src: url('//at.alicdn.com/t/c/font_2529465_orw2nn0bwn.woff2?t=1661589648301') format('woff2'),
       url('//at.alicdn.com/t/c/font_2529465_orw2nn0bwn.woff?t=1661589648301') format('woff'),
       url('//at.alicdn.com/t/c/font_2529465_orw2nn0bwn.ttf?t=1661589648301') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pdd-tool:before {
  content: "\e614";
}

.pdd-rocket:before {
  content: "\e62c";
}

.pdd-home:before {
  content: "\e64c";
}

.pdd-menu:before {
  content: "\e65e";
}
